@{
    ViewBag.Title = "Eliminar ingreso";
}
<style>
    .tseeDocstooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .seeDocstooltip .seeDocstooltiptext {
        visibility: hidden;
        width: auto;
        /* width: 120px; */
        background-color: black;
        color: #fff;
        /* text-align: center; */
        text-align: left;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .seeDocstooltip:hover .seeDocstooltiptext {
        visibility: visible;
    }
</style>
<div class="" style="">

    <div class="custom_page_title"> Eliminar ingreso </div>

    <div>
        @RenderPage("base/income_search_base.cshtml")
    </div>

</div>

@section Scripts {

    @Scripts.Render("~/bundles/commonincomeinvoice")
    @Scripts.Render("~/bundles/jsgrid")
    @Scripts.Render("~/bundles/income")
    @Styles.Render("~/bundles/css")

    <script>
        $(document).ready(function () {
            loadCompaniesbyUser(null, "searchForm", "company", null); incomeRegisterEdit = false; incomeDelete = true; incomeitemEdit = false;
        });

        setTimeout(function () {
        }, 2000);
        $(".forcenumericonly").ForceNumericOnly();


    </script>

}